body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.clock {
    font-size: 18px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    margin: 20px;
}

#clock {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.local-time-label {
    font-size: 15px;
    font-style: italic;
    color: #939393;
    margin-top: -20px;
}

.header-h1 {
    margin: 0;
    text-align: left;
}

.header-h2 {
    margin: 0;
    font-style: italic;
    text-align: left;
    font-size: 90%;
}

#search-section {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 100%; /* Adjust to fit content */
    width: 95%;
    margin-left: 20px;
    margin-right: 5px;
}

#current-weather {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 250px; /* Set a fixed height to match the forecast box */
    width: 95%;
    margin-right: 20px;
    margin-left: 20px;
    background-color: transparent; /* No background color initially */
}

#forecast {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between; /* Make sure forecast items are in one row */
    gap: 10px; /* Add gap between forecast items */
}

#forecast .forecast-item {
    color: rgb(0, 0, 0);
    padding: 15px; /* Adjust padding */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
    flex: 1; /* Make all forecast items the same size */
    min-width: 150px; /* Ensure forecast items don't get too narrow */
    min-height: 220px; /* Increase min height */
}

#forecast .forecast-item h3 {
    font-size: 18px; /* Increase font size */
    font-weight: bold;
    margin-bottom: 5px;
}

#forecast .forecast-item .date {
    font-size: 16px; /* Increase date size */
    margin-bottom: 5px;
}

#forecast .forecast-item .separator {
    border-top: 1px solid #d3d3d3;
    margin: 5px 0;
}

#forecast .forecast-item p {
    margin: 0;
    font-size: 14px; /* Adjust font size */
    line-height: 1.4; /* Adjust line height */
}

.main-container {
    flex-grow: 1;
    padding: 20px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
